
<div style="font-family:due;background-color:grey;color:yellow;padding:5px;font-size:5px;margin-top:10px;" class="row">
	<div class="col-xs-12">
		<footer>
			<center><h4>Time Blog In Node.js (Express - Pug) By Sherif Adavuruku - &copy; 2017</h4></center>
		</footer>
	</div>
</div>