<head>
	<meta charset ="utf-8"/>
	<title> Timely News Blog - Nigeria </title>
	link(rel='shortcut icon', href='/images/nainja.jpg', type='image/x-icon')
	link(rel='icon', href='/images/nainja.jpg', type='image/x-icon')
	
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
	
	script(type='text/javascript', src='/javascripts/bootstrap.js')
	script(type='text/javascript', src='/javascripts/jquery-2.1.1.min.js')
	script(type='text/javascript', src='/javascripts/jquery-2.1.1.js')
	script(type='text/javascript', src='/javascripts/bootstrap.min.js')
</head>