
<ul style="background-color:CadetBlue;padding-bottom:10px;" class="nav nav-tabs nav-stacked affix-top" data-spy="affix" data-offset-top="125">
	<div style="padding:10px;background-color:CadetBlue" class="col-xs-12">
		<h4>
			<strong>
				<a  style="text-decoration:none;color:white;padding:10px" class="btn btn-warning"  href="/staff/newpost"><span class="glyphicon glyphicon-plus"> Create New Post <span class="glyphicon glyphicon-plus"></a>
			</strong>
		</h4>
		<hr/>
		<h4>
			<strong>
				<a  style="text-decoration:none;color:white;padding:10px" class="btn btn-warning"  href="/staff/home"><span class="glyphicon glyphicon-open"> View All My Post <span class="glyphicon glyphicon-open"></a>
			</strong>
		</h4>
		<hr/>
		<h4>
			<strong>
				<a  style="text-decoration:none;color:white;padding:10px" class="btn btn-danger"  href="/"><span class="glyphicon glyphicon-minus"> Sign Out <span class="glyphicon glyphicon-minus"></a>
			</strong>
		</h4>
	</div>
</ul>